html {
    box-sizing: border-box;
}
body {
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 150vh;
    background: linear-gradient(lightgreen, pink);
}

input {
    width: 200px;
}

button {
    margin: 20px auto;
    display: block;
}

img {
    max-height: 400px;
}

h2 {
    margin-bottom: 0;
}

table {
    margin: 20px auto;
}

table, th, td {
    border: 1px solid;
    background-color: white;
}

.non-veg-item {
    background-color: red;
}
.unknown-maybe-item {
    background-color: yellow;
}